/* 下部広告部分 */
/* items/index.htmlの広告cssを所々使いまわしています。 */



/* //下部広告部分 */

footer {
  background-color: black;
  text-align: center;
  padding: 26px 0;
}

footer p {
  color: #fff;
  font-size: 0,875rem;
}

.no-bg {
  background: none;
}